<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/headtags") %>
        <title>Home</title>
</head>

<body>
    <%- include("partials/navbar") %>

        <%- include("partials/mainopening") %>
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">Share new post</h2>
                        <form id="postform">

                            <div class="form-outline mb-4">
                                <input type="text" id="text" name="text" class="form-control form-control-lg" />
                                <span id="texterror" class="error"></span>
                            </div>

                            <button type="submit" onclick="postSbmt(event, '/api/post')" class="btn btn-primary">
                                Share
                            </button>

                        </form>
                </div>
            </div>
            <%- include("partials/mainclosure") %>

                <script src="/js/posts.js"></script>
                <script src="/js/index.js"></script>
                <script src="/js/share.js"></script>
                <script src="/js/user.js"></script>

</body>


</html>