<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/headtags") %>
    <title>Home</title>
</head>

<body>
    <%- include("partials/navbar") %>

        <%- include("partials/mainopening") %>

            <div class="card">
                <div class="card-body">

                </div>
            </div>

            <%- include("partials/mainclosure") %>
</body>

</html>