<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/headtags") %>
        <title>Home</title>
</head>

<body>
    <%- include("partials/navbar") %>

        <%- include("partials/mainopening") %>

            <%- include("partials/mainclosure") %>

            <script src="/js/index.js"></script>
</body>


</html>